# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:
* Import data from csv files and Excel files
* Understand and explain key arguments for imports
* Save information to csv and Excel files
* Access data within a Pandas DataFrame (print() and .head())

##  Loading Files with Summary or Meta Data

Load either of the files Zipcode_Demos.csv or Zipcode_Demos.xlsx. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled 'Data'.

In [25]:
#Your code here
import pandas as pd
pd.set_option('display.precision',3)
zipcode = pd.read_csv('Data/Zipcode_Demos.csv', skiprows= 47, header = 0, usecols=range(1,47), index_col=0)

In [66]:
summary = pd.read_csv('Data/Zipcode_Demos.csv', nrows = 46, usecols = [1,2])

In [65]:
summary.tail()

                     Average Statistics          Unnamed: 2
42  PERCENT NRECEIVES PUBLIC ASSISTANCE               0.649
43      COUNT PUBLIC ASSISTANCE UNKNOWN                   0
44    PERCENT PUBLIC ASSISTANCE UNKNOWN                   0
45        COUNT PUBLIC ASSISTANCE TOTAL                 9.4
46                    JURISDICTION NAME  COUNT PARTICIPANTS

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encountered some really ill formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and commas within those fields themselves. For example, we could have a table like this:  

ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled Yelp_Reviews_corrupt.csv. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [ ]:
#Hint: here's a useful programming pattern to use.
try:
    #do something
except Exception as e:
    #handle your exception e

In [54]:
#Your code here, 
yelp = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', error_bad_lines= False, usecols= range(1,10))

In [55]:
# ,business_id,cool,date,funny,review_id,stars,text,useful,user_id
yelp.tail()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
4646,it was really awkward sitting on the benches ...,as people walked past us while to wait for ou...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4647,when we were seated,it was so loud. It felt like we were in a hig...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4648,but it wasn't flavourful.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4649,unfortunately.,1,PkRFSQgSfca9Tamq7b2LdQ,NaN,NaN,NaN,NaN,NaN,NaN
4650,WdBWhGe4Siqg3IYTc4_K4A,0,2016-08-15,0,O0ttxNGxHKtD8Cnnwc_j1g,1,Sunday at 8p. Not many people here at all. We ...,and no one came to take our drink order. We w...,0

In [56]:
yelp.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
2,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g
3,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g
4,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg

In [83]:
for i in range(1,2000):
    try:
        df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', nrows=i)
    except:
        print('First failure at: {}'.format(i))
        break
df1 = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', nrows=i-1)
print(len(df))

First failure at: 1962
1961

In [78]:
pd.read_csv('Data/Yelp_Reviews_Corrupt.csv')

ParserError: Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

In [74]:
len(df1.columns)

10

In [81]:
temp = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', names=df1.columns)
print(len(temp))
temp.head()

4652

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,NaN,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
3,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g
4,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g

In [84]:
temp.iloc[1962]

Unnamed: 0                                                  3582
business_id                               4twpbw7n4DmsLxAm6-sMkg
cool                                                           0
date                                                  2014-05-11
funny                                                          0
review_id                                 UYkfC4JAkT0BZ324lipDeg
stars                                                          5
text           One of my go to Korean Food Restaurants downto...
useful                        and the food always hits the spot.
user_id                                                        0
Name: 1962, dtype: object

## Summary

Congratulations, you now practiced your pandas-importing skills!